In [9]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

s = pd.read_csv('data/nyc-temps.txt', squeeze=True)

Populating the interactive namespace from numpy and matplotlib

In [2]:
s = Series([10, 20, 30, 40, 50, NaN, 70])

In [3]:
s.size

7

In [4]:
s.count()

6

In [5]:
df = DataFrame({'a':range(7), 's':s})

In [6]:
df

   a     s
0  0  10.0
1  1  20.0
2  2  30.0
3  3  40.0
4  4  50.0
5  5   NaN
6  6  70.0

In [7]:
df.size

14

In [8]:
df.count()

a    7
s    6
dtype: int64